<!-- <form [formGroup]="updateform">
     
    <label>  userId: </label>
    <input type="text"    formControlName="userId" class="FormControl"/>

    
<br>

<br>

    <label>id: </label>
    <input type="text" formControlName="id" class="FormControl"/>



<br>

<br>

    <label>title </label>
    <input type="text"       formControlName="title" class="FormControl"/>



<br>

<br>

    <label>body </label>
    <input type="text"     formControlName="body" class="FormControl"/>



<br>
<br>

<div >            

<button (click)="addData()">Add data </button>
<button (click)="fetchpost()">Add data </button>
<div>
 

</div>
</form> -->
