form{
    padding :auto;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#312c69, #5c1f4a);
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 45%;
    background: rgb(201, 212, 231);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  h1{
      background-color: rgb(78, 78, 206);
      color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }
  mat-label{
      font-weight: bold;
  }